    # Be sure to only have this line once in your configuration
    NameVirtualHost 127.0.0.1:80

    # This is the configuration for AVATest
    Listen 127.0.0.1:80

    <VirtualHost 127.0.0.1:80>
      ServerName AVATest.localhost
      DocumentRoot "/home/toni/devel/projects/nextret20130907/logic/web"
      DirectoryIndex index.php
      <Directory "/home/toni/devel/projects/nextret20130907/logic/web">
        AllowOverride All
        Allow from All
      </Directory>

      Alias /sf "/home/toni/devel/projects/nextret20130907/deps/symfony-1.2.12/symfony-1.2.12/data/web/sf"
      <Directory "/home/toni/devel/projects/nextret20130907/deps/symfony-1.2.12/symfony-1.2.12/data/web/sf">
        AllowOverride All
        Allow from All
      </Directory>
    </VirtualHost>
